/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1A237E;
    color: white;
}

header {
    background-color: #000051;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espace entre les catégories */
}

.category {
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Aligne les images au centre */
  gap: 40px; /* Espace entre les images */
  margin-bottom: 20px;
}

.images img {
  max-width: 80px; /* Taille maximale des images (vous pouvez ajuster cette valeur) */
  max-height: 80px;
  object-fit: contain; /* Pour que l'image garde ses proportions */
  border-radius: 5px; /* Facultatif : coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour plus de style */
}
h1 {
    font-size: 2em;
    margin-bottom: 40px;
    text-align: center;
  }
  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #025959;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    height: 600px;
    width: 1600px;
  }