/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001f60;
    color: white;
}
header {
    background-color: #000051;
    padding: 10px 20px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #3b4a6b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #66afe9;
    box-shadow: 0 0 5px #66afe9;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

footer {
    margin-top: 30px;
    color: #ccc;
}
