/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  header {
    background-color: #000051;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  main {
    text-align: center;
    padding: 40px 20px;
  }
  
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #1a1a78;
  margin: 0;
  padding: 0;
  color: #ffffff; /* Texte principal blanc */
}

.container {
  background-color: #037d7d;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  color: #ffffff;
  margin-top: 20px; 
  margin-bottom: 20px;
  line-height: 1.8; /* pour espacer les lignes à l’intérieur du paragraphe */
}

p, li {
  color: #e0f7f7; /* Texte légèrement bleuté */
  line-height: 1.8; /* pour espacer les lignes à l’intérieur du paragraphe */
}
